button {
  border-radius: 4px !important;
}

button {
  background-color: #f25287;
  color: white !important;
}

button:hover {
  background-color: #f25287;
  color: white !important;
  font-size: large;
}
