<h1 mat-dialog-title>Editar</h1>
<form class="editar-form" (ngSubmit)="formSubmit()">
  <div>
    <mat-form-field class ="example-full-width">
      <mat-label>Nuevo nombre de medicamento</mat-label>
      <input name="name" matInput type="text" [(ngModel)]="medicina.name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Nueva dosis</mat-label>
      <input name="dosis" matInput type="text" [(ngModel)]="medicina.dosis">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Nueva frecuencia</mat-label>
      <mat-select [(ngModel)]="medicina.frecuencia">
        <mat-option *ngFor="let frec of frecuencias" [value]="frec">{{frec}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button type="submit" mat-stroked-button color="primary">Actualizar</button>
</form>
<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Cerrar</button>
</div>
