
<div>
    <div class = "notiContainer">
        <div class="iconWarining">
            <mat-icon [ngStyle]="{'color':'#df5583'}">
                warning
            </mat-icon>
        </div>
        
        <div class="notificationText">
            <p > |<time datetime="2023-08-11">2023-08-11</time>| Su sangrado fue de color rojo pálido, lo cual puede estar relacionado a la toma de algún anticonceptivo o transtornos hormonales.  Es importante que consulte a su médico de cabecera o ginecólogo de confianza. </p>
        </div>

        <div class="notificationsDate">
            
        </div>
        
    </div>
    <div class = "notiContainer">
        <div class="iconWarining">
            <mat-icon [ngStyle]="{'color':'#df5583'}">
                warning
            </mat-icon>
        </div>
        
        <div class="notificationText">
            <p >Su sangrado fue de color rojo pálido, lo cual puede estar relacionado a la toma de algún anticonceptivo o transtornos hormonales.  Es importante que consulte a su médico de cabecera o ginecólogo de confianza. </p>
        </div>
        
    </div>
</div>