<app-container>
  <div class="center top">
    <app-card>
      <app-button routerLink="/" routerLinkActive="active"
        >< Regresar</app-button
      >

      <app-title>Venus</app-title>

      <div class="text-center">
        <img src="../../../assets/login.png" width="100" height="100" />
      </div>
      <form (ngSubmit)="formSubmit()">
        <div>
          <app-input
            [label]="'Correo Electrónico'"
            [placeholder]="'Ingrese su correo electrónico'"
            [error]="!loginData.email"
            errorMessage="Correo electrónico es requerido"
            [(value)]="loginData.email"
            [type]="'text'"
            [hint]="'El correo de usuario debe ser válido'"
            id="email"
          ></app-input>

          <app-input
            [label]="'Contraseña'"
            [placeholder]="'Digite su contraseña'"
            [error]="!loginData.password"
            errorMessage="La contraseña es requerida"
            [(value)]="loginData.password"
            [type]="'password'"
            [hint]="'La contraseña debe ser válida'"
            id="password"
          ></app-input>
        </div>
        <br /><br />

        <div class="text-center">
          <app-button type="submit" id="login-button">Iniciar sesión</app-button>
          <!-- <button type="reset" style = "margin-left: 20px;" mat-raised-button color="accent">Limpiar</button> -->
        </div>
      </form>
      <mat-dialog-actions class="text-center">
        <div style="margin-top: 10px; cursor: pointer">
          <a (click)="openDialog()">Recuperar contraseña</a>
        </div>
      </mat-dialog-actions>
    </app-card>
  </div>
</app-container>
