/* login.component.scss */
.error {
  border: 1px solid red;
}

/* Ajusta el estilo de mat-dialog-actions */
mat-dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px; /* Ajusta la altura mínima según tus necesidades */
}

.top {
  margin-top: 5vw;
}
@media (max-width: 768px) {
  .top {
    margin-top: 15vw;
  }
}
