/* login.component.scss */
.error {
  border: 1px solid red;
}

/* Ajusta el estilo de mat-dialog-actions */
mat-dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px; /* Ajusta la altura mínima según tus necesidades */
}

@media (max-width: 500px) {
}

.mat-card {
  max-width: 400px;
  margin: auto;
  border-radius: 20px !important;
}

.top {
  margin-top: 5vw;
}
@media (max-width: 768px) {
  .top {
    margin-top: 15vw;
  }
  .mat-card {
    border-radius: 10px !important;
  }
}
