<div class="dialog-content">
  <h2>Día {{ selectedData?.date | date : "dd/MM/yyyy" }}</h2>

  <ng-container *ngIf="!isEditMode; else editMode">
    <form *ngIf="periodDataForm" [formGroup]="periodDataForm">
      <mat-form-field>
        <mat-label>Tipo de Emoción</mat-label>
        <input matInput [value]="selectedData?.emotionType ? selectedData?.emotionType : ''" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estado Emocional</mat-label>
        <input matInput [value]="selectedData?.emotionalState ? selectedData?.emotionalState : ''" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cantidad de Fluido</mat-label>
        <input matInput [value]="selectedData?.fluidAmount ? selectedData?.fluidAmount: ''" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Color del Fluido</mat-label>
        <input matInput [value]="selectedData?.fluidColor ? selectedData?.fluidColor: ''" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tipo de Dolor</mat-label>
        <input matInput [value]="selectedData?.painType ? selectedData?.painType: ''" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cantidad del Período</mat-label>
        <input matInput [value]="selectedData?.periodAmount ? selectedData?.periodAmount: ''" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Color del Período</mat-label>
        <input matInput [value]="selectedData?.periodColor ? selectedData?.periodColor: ''" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ciclo del Período</mat-label>
        <input matInput [value]="selectedData?.periodCycle ? selectedData?.periodCycle: ''" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estado Físico</mat-label>
        <input matInput [value]="selectedData?.physicalState ? selectedData?.physicalState: ''" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Veces Sexuales</mat-label>
        <input matInput [value]="selectedData?.sexTimes ? selectedData?.sexTimes: ''" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Horas de Sueño</mat-label>
        <input matInput [value]="selectedData?.sleepHours ? selectedData?.sleepHours: ''" disabled />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Temperatura</mat-label>
        <input matInput [value]="selectedData?.temperature ? selectedData?.temperature: ''" disabled />
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="enterEditMode()">Editar</button>
    <button mat-raised-button (click)="closeDialog()">Cerrar</button>
  </ng-container>
  <ng-template #editMode>
    <form *ngIf="periodDataForm" [formGroup]="periodDataForm">
      <mat-form-field>
        <mat-label>Tipo de Emoción</mat-label>
        <input
          matInput
          placeholder="Tipo de Emoción"
          formControlName="emotionType"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estado Emocional</mat-label>
        <input
          matInput
          placeholder="Estado Emocional"
          formControlName="emotionalState"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cantidad de Fluido</mat-label>
        <input
          matInput
          placeholder="Cantidad de Fluido"
          formControlName="fluidAmount"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Color del Fluido</mat-label>
        <input
          matInput
          placeholder="Color del Fluido"
          formControlName="fluidColor"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tipo de Dolor</mat-label>
        <input
          matInput
          placeholder="Tipo de Dolor"
          formControlName="painType"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cantidad del Período</mat-label>
        <input
          matInput
          placeholder="Cantidad del Período"
          formControlName="periodAmount"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Color del Período</mat-label>
        <input
          matInput
          placeholder="Color del Período"
          formControlName="periodColor"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ciclo del Período</mat-label>
        <input
          matInput
          placeholder="Ciclo del Período"
          formControlName="periodCycle"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estado Físico</mat-label>
        <input
          matInput
          placeholder="Estado Físico"
          formControlName="physicalState"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Veces Sexuales</mat-label>
        <input
          matInput
          placeholder="Veces Sexuales"
          formControlName="sexTimes"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Horas de Sueño</mat-label>
        <input
          matInput
          placeholder="Horas de Sueño"
          formControlName="sleepHours"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Temperatura</mat-label>
        <input
          matInput
          placeholder="Temperatura"
          formControlName="temperature"
        />
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="saveChanges()">Guardar</button>
    <button mat-raised-button (click)="cancelEdit()">Cancelar</button>
  </ng-template>
</div>