
.main-navbar{
  justify-content: space-between;
  background-color: #F7D9D9;
  padding: 2.5% 1%;
}

.navbar{
  display: flex;
  gap: 5%;
  a{
    background-color: #F7D9D9;
    font-size: xx-large;
    font-family:Garamond;

  }
}



