<form action="">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          [(ngModel)]="dialogEmail.email"
          name="email"
          required
          matInput
          placeholder="Digite su correo para recupearar la contraseña"
        />
        <mat-hint>El correo de usuario debe ser valido</mat-hint>
      </mat-form-field>

      <div class="container text-center">
        <button type="submit" mat-raised-button class="button-color custom-button">
          Iniciar sesión
        </button>
      </div>
</form>