<!-- posts.component.html -->
<div *ngFor="let post of posts" class="card-container">
  <mat-card class="post-card">
    <img mat-card-image [src]="post.imageUrl" alt="Post Image" />
    <mat-card-content>
      <h2>{{ post.subject }}</h2>
      <p>{{ getTruncatedContent(post) }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button *ngIf="login.getUserRole() == 'ADMIN'" (click)="editPostRoute(post.postId)">
        <mat-icon fontIcon="edit">edit</mat-icon>
      </button>

      <button mat-icon-button (click)="toggleLike(post)" [class.active]="post.active">
        <mat-icon>{{ post.liked ? "favorite" : "favorite_border" }}</mat-icon>
      </button>

      <button mat-icon-button (click)="openPost(post)">
        <mat-icon>open_in_new</mat-icon>
      </button>

      <button mat-icon-button (click)="openComments(post.postId)">
        <mat-icon>
          add_circle
        </mat-icon>
      </button>
      <span class="time-reading">Tiempo de lectura: {{ calculateReadingTime(post.content) }} min</span>
    </mat-card-actions>

  <div class="newCommentbox" *ngIf="addComment == true && opened == post.postId">
      <mat-form-field class="commentarea">
        <mat-label>Escribe tu comentario</mat-label>
        <textarea matInput [(ngModel)]="newComment"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary"  (click)="sendComment(post.postId)" class="button-send">Enviar</button>
      <button mat-raised-button (click)="closeComments()">Cancelar</button>
  </div>
  </mat-card>

  <button
    *ngIf="login.getUserRole() == 'ADMIN'"
    style="
      position: fixed;
      width: 60px;
      height: 60px;
      color: white;
      font-size: 40px;
      background-color: #f25287;
      border-radius: 50%;
      bottom: 20px;
      right: 20px;
    "
    mat-raised-button
    (click)="newPostRoute()"
  >
    +
  </button>
</div>
