.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-card {
  width: 50vw;
  margin: 10px;
}

.mat-card-image {
  height: 200px;
  object-fit: cover;
}

.time-reading {
  margin-left: auto;
  color: #757575;
}
//
/* Dentro de tu archivo de estilos CSS */
.mat-icon-button.active .material-icons {
  color: #df5583;
}
.commentarea{
  width: 100%;
}
.button-send{
  margin-right: 10px;
}