<div fxLayout="row wrap" fxLayoutGap="10px"></div>
<div *ngFor="let post of posts" class="card-container">
  <mat-card class="post-card">
    <img mat-card-image [src]="post.imageUrl" alt="Post Image" />
    <mat-card-content>
      <h2>{{ post.subject }}</h2>
      <p>{{ post.content }}</p>
    </mat-card-content>
    <mat-card-actions>
      <!-- Dentro de tu plantilla HTML -->
      <button
        mat-icon-button
      >
        <mat-icon *ngIf="login.getUserRole()=='ADMIN'" (click)="editPostRoute(post.postId)" fontIcon="edit"></mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="toggleLike(post)"
        [class.active]="post.active"
      >
        <mat-icon>{{ post.liked ? "favorite" : "favorite_border" }}</mat-icon>
      </button>

      <button mat-icon-button (click)="openPost(post)">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <span class="time-reading"
        >Tiempo de lectura: {{ calculateReadingTime(post.content) }} min</span
      >
    </mat-card-actions>
  </mat-card>
  <button
  *ngIf="login.getUserRole()=='ADMIN'"
  style="position: fixed; width: 60px; height: 60px; color: white; font-size: 40px; background-color: #f25287; border-radius: 50%; bottom: 20px; right: 20px;"
  mat-raised-button (click)="newPostRoute()" >+</button>
</div>
