<script src="user-dashboard.component.ts"></script>
<mat-drawer-container class="example-container">
    <mat-drawer class="side-form"  [(opened)]="openedForm" #drawer position="end" mode="over">
      <div class="form-title">
        <h1>Registros diarios<mat-icon class="info-form-icon">info</mat-icon>
        </h1>
        <h3>Recuerda que todos tus registros diarios son opcionales. <br>
          ¡Puedes ingresar datos las veces que quieras durante el día!</h3>
      </div>
      <mat-stepper orientation="vertical" #stepper>
        <mat-step>
          <ng-template matStepLabel>Fecha</ng-template>
          <mat-form-field style="padding-top: 30px; padding-bottom: -10px;" class="example-full-width">
            <mat-label>Fecha</mat-label>
            <input matInput [(ngModel)]="date" type="date" (change)="onDateChange($event)">
          </mat-form-field>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Menstruación</ng-template>
          <mat-radio-group [(ngModel)]="periodCycle" aria-label="Select an option" class="mat-radio-button">
            <mat-radio-button value="inicio">Inicio de menstruación</mat-radio-button>
            <mat-radio-button value="fin">Final de menstruación</mat-radio-button>
            <mat-radio-button value="NA">No aplica</mat-radio-button>
          </mat-radio-group>
          <h4 style="padding-top: 10px;">Cantidad</h4>
          <mat-form-field>
            <mat-label>Elige una</mat-label>
            <mat-select [(ngModel)]="periodAmount" name="nombre">
              <mat-option value="ninguno">
                Ninguno
              </mat-option>
              <mat-option value="Muy poco">
                Muy poco
              </mat-option>
              <mat-option value="Poco">
                Poco
              </mat-option>
              <mat-option value="Normal">
                Normal
              </mat-option>
              <mat-option value="Abundante">
                Abundante
              </mat-option>
              <mat-option value="Muy abundante">
                Muy abundante
              </mat-option>
            </mat-select>
          </mat-form-field>
          <h4 style="padding-top: 10px;">Color</h4>
          <mat-form-field>
            <mat-label>Elige uno</mat-label>
            <mat-select [(ngModel)]="periodColor">
              <mat-option value="anaranjado">
                <div class="color-example anaranjado">Anaranjado</div>
              </mat-option>
              <mat-option value="rojo">
                <div class="color-example rojo">Rojo</div>
              </mat-option>
              <mat-option value="rojo palido">
                <div class="color-example rojo-palido">Rojo pálido</div>
              </mat-option>
              <mat-option value="Otro">
              <div>Otro Color</div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Fluidos cervicales</ng-template>
          <h4 style="padding-top: 10px;">Cantidad</h4>
          <mat-form-field>
            <mat-label>Elige una</mat-label>
            <mat-select [(ngModel)]="fluidAmount">
              <mat-option value="Muy seco">
               Muy seco
              </mat-option>
              <mat-option value="Seco">
               Seco
              </mat-option>
              <mat-option value="Húmedo">
               Húmedo
              </mat-option>
              <mat-option value="Muy húmedo">
                Muy húmedo
              </mat-option>
            </mat-select>
          </mat-form-field>
          <h4 style="padding-top: 10px;">Color</h4>
          <mat-form-field>
            <mat-label>Elige uno</mat-label>
            <mat-select [(ngModel)]="fluidColor">
              <mat-option value="blanco">
                <div class="color-example blanco">Blanco</div>
              </mat-option>
              <mat-option value="transparente">
                <div class="color-example transparente">Transparente</div>
              </mat-option>
              <mat-option value="amarillo">
                <div class="color-example amarrillo">Amarillo</div>
              </mat-option>
              <mat-option value="verde">
                <div class="color-example verde"> Verde </div>
              </mat-option>
              <mat-option value="gris">
                <div class="color-example gris"> Gris </div>
              </mat-option>
              <mat-option value="Otro">
                <div>Otro Color</div>
                </mat-option>

            </mat-select>
          </mat-form-field>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Estado físico y emocional</ng-template>
          <h4 style="padding-top: 10px;">Estado emocional general</h4>
          <mat-icon style=" padding-left: 60px;">sentiment_very_dissatisfied</mat-icon>
          <mat-icon style=" padding-left: 90px;">sentiment_neutral</mat-icon>
          <mat-icon style=" padding-left: 90px;">sentiment_very_satisfied</mat-icon>
          <mat-slider [(ngModel)]="emotionalState" style="width: 350px;" max="10" min="0" step="1" discrete="false">
            <input matSliderThumb #slider>
          </mat-slider>

          <h4 style="padding-top: 10px;">Tipo de malestar emocional</h4>
          <mat-form-field>
            <mat-label>Elige uno</mat-label>
            <mat-select [(ngModel)]="emotionType" name="nombre">
              <mat-option value="Cambios de humor">
               Cambios de humor
              </mat-option>
              <mat-option value="Ansiedad">
                Ansiedad
              </mat-option>
              <mat-option value="Depresión">
                Depresión
              </mat-option>
              <mat-option value="Fatiga">
                Fatiga
              </mat-option>
              <mat-option value="Irritabilidad">
              Irritabilidad
              </mat-option>
              <mat-option value="Estrés">
                Estrés
              </mat-option>
            </mat-select>
          </mat-form-field>

          <h4 style="padding-top: 10px;">Dolor físico</h4>

          <mat-icon style=" padding-left: 90px;">sentiment_very_satisfied</mat-icon>
          <mat-icon style=" padding-left: 90px;">sentiment_neutral</mat-icon>
          <mat-icon style=" padding-left: 60px;">sentiment_very_dissatisfied</mat-icon>
          <mat-slider [(ngModel)]="physicalState" style="width: 350px;" max="10" min="0" step="1" discrete="false">
            <input matSliderThumb #slider>
          </mat-slider>
          <h4 style="padding-top: 10px;">Tipo de dolor</h4>
          <mat-form-field>
            <mat-label>Elige uno</mat-label>
            <mat-select [(ngModel)]="painType" name="nombre">
              <mat-option value="Dolor generalizado">
               Dolor generalizado
              </mat-option>
              <mat-option value="Dolor pélvico">
                Dolor pélvico
              </mat-option>
              <mat-option value="Dolor de cabeza">
                Dolor de cabeza
              </mat-option>
              <mat-option value="Hinchazón abdominal">
                Hinchazón abdominal
              </mat-option>
              <mat-option value="Cólicos menstruales">
              Cólicos menstruales
              </mat-option>
              <mat-option value="Sensibilidad en mamas">
              Sensibilidad en mamas
              </mat-option>
              <mat-option value="Dolor lumbar">
              Dolor lumbar
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Sueño</ng-template>
          <h4 style="padding-top: 10px;">Horas totales</h4>
          <mat-form-field  class="example-full-width">
            <input [(ngModel)]="sleepHours" matInput type="number" max="23" min="0" placeholder="Horas" value="Sushi">
          </mat-form-field>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Temperatura</ng-template>
          <h4 style="padding-top: 10px;">Temperatura corporal actual</h4>
          <mat-form-field  name="temp" class="example-full-width">
            <input [(ngModel)]="temperature" step="0.01" matInput type="number" max="42.00" min="35.00" placeholder="Temperatura(°C)">
          </mat-form-field>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Medicamentos</ng-template>
          <section class="example-section">
            <h4>Seleccione sus medicamentos:</h4>
            <p>
              <mat-checkbox>Medicamento ejemplo</mat-checkbox>
            </p>
          </section>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Vida sexual</ng-template>
          <mat-form-field  name="temp" class="example-full-width">
            <input [(ngModel)]="sexTimes" matInput type="number" max="15" min="0" placeholder="Relaciones sexuales">
          </mat-form-field>
        </mat-step>
      </mat-stepper>
      <div style="display: flex; right: 0;">
          <button (click)="send()" style="width: 250px; padding-top: 10px; padding-bottom: 15px; border-radius: 0;" mat-raised-button
            color="primary">Enviar</button>
          <button (click)="closeForm()" style="background-color: #DDDD; border-radius: 0; padding-top: 10px; padding-bottom: 15px; width: 250px;"
            mat-button>Cancelar</button>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <button style="position: absolute; width: 60px; height: 60px; color: white; font-size: 40px; background-color: #f25287; border-radius: 50%; bottom: 50px; right: 50px;" mat-raised-button
        (click)="drawer.toggle()">+</button>
    </mat-drawer-content>
  </mat-drawer-container>
  <mat-sidenav-container>
    <mat-sidenav [(opened)] = "opened">
      alo
    </mat-sidenav>
    <mat-sidenav-content >

    </mat-sidenav-content>
</mat-sidenav-container>
